#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: 10px black solid;
    justify-content: center;
    align-items: center;
}

body {
    height: 90%;
    width: 90%;
}
.div {
    margin: 10px;
    height: 17vw;
    width: 17vw;
    background-color: blue;
    flex-grow: 0;
    flex-shrink: 0;
}