#container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    border: 10px black solid;
    justify-content: center;
    align-items: center;
}
html {
    background-color: lightgrey;
}
body {
    height: 90%;
    width: 90%;
}
.div {
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
}
.divHovered {
    background-color: black;
}